// GLOBAL PARAMETERS
params.basedir = "/nextflow_runs/"
params.seed = 25

// STEP1 topology generations
params.n_topologies = 20
params.mutations = [50, 100, 200]

// STEP3 single cell sampling
params.n_single_cells = 1000
params.shuffle_cols = 'TRUE'
params.increase_leaf_prob = 5

// STEP4 adding noise
params.FP_FN_M = [[0.005, 0.05, 0], [0.01, 0.1, 0.1], [0.02, 0.2, 0.2]] 

// running inferences
params.mcmc_unit = [1000, 5000, 50000] // must be ordered and with the same length as params.mutations
params.mcmc_breaks = [1..10]

// STEP5 compute consensus tree
params.likelihood_thr = "0.2,0.3"
